<div class="row">
  <% @lands.each do |land| %>
  <div class="col-xs-6 col-md-3">
   <div class="thumbnail">
      <%= image_tag land.image_url %>
      <div class="caption">
        <ul class="list-group">
          <li class="list-group-item"><h5><%= land.address %></h5></li>
          <li class="list-group-item"><%= land.description %></li></p>
          <p><%= land.price %>万円</p>
          <p><%= land.area %>㎡</p>
          <p>出品者：<%= land.user.full_name %></p>
          <p><%= link_to "詳細", land_path(land), class: "btn btn-primary", role: "button" %>
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>×<%= land.likes.count %></p>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="paginate">
  <%= paginate @lands %>
</div>