<div class="row">
  <% @lands.each do |land| %>
  <div class="col-xs-6 col-md-3">
   <div class="thumbnail">
      <%= image_tag land.image_url %>
      <div class="caption">
        <h3><%= land.address %></h3>
        <p><%= land.description %></p>
        <p><%= land.price %>万円</p>
        <p><%= land.area %>㎡</p>
        <p><%= link_to "詳細", land_path(land), class: "btn btn-primary", role: "button" %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>