<%= form_for(@land) do |f| %>
  <% if @land.errors.any? %>
    <div class="alert alert-danger">
      <p><b><%= @land.errors.count %>件のエラーがあります</b></p>

      <ul>
      <% @land.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :area %><br>
    <%= f.number_field :area, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.number_field :price, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url, class: "form-control" %>
  </div>
  <%= f.submit "登録する", class: "btn btn-primary" %>
<% end %>