<div class="row">
  <div class="col-xs-6 col-md-3">
   <div class="thumbnail">
      <%= image_tag @land.image_url %>
      <div class="caption">
        <h3><%= @land.address %></h3>
        <p><%= @land.description %></p>
        <p><%= @land.price %>万円</p>
        <p><%= @land.area %>㎡</p>
        <% if user_signed_in? %>
          <% if current_user.id == @land.user_id %>
          <p><%= link_to "編集する", edit_land_path(@land), class: "btn btn-primary", role: "button" %> <%= link_to "削除する", land_path(@land), method: :delete, class: "btn btn-danger", role: "button", data: { confirm: "本当に削除しますか？"} %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>×
<%= @land.likes.count %>

<% if user_signed_in? %>
  <% if current_user.likes.find_by(land_id: @land.id) %>
    <p><%= link_to 'いいねを取り消す', unlike_path(@land.id), method: :delete, class: 'btn btn-danger' %></p>
  <% else %>
    <p><%= link_to 'いいね', like_path(@land.id), method: :post, class: 'btn btn-primary' %></p>
  <% end %>
<% else %>
  <p>いいね機能を利用するにはログインしてください</p>
<% end %>

<hr />
<div class="row">
  <h2>コメント一覧</h2>
  <% @comments.each do |comment| %>
    <div class="col-lg-12">
      <div class="media-body">
        <%= image_tag comment.user.image_url, width: 64 %>
        <%= comment.body %>
          <% if user_signed_in? %>
            <% if current_user.id == comment.user_id %>
              <p class="text-muted">
                <%= link_to "削除する", comment_path(comment), method: :delete %>
              </p>
            <% end %>
          <% end %>
      </div>
    </div>
  <% end %>
</div>

<hr />
<h1>コメントを投稿する</h1>
<% if user_signed_in? %>
<%= form_for(@comment, url: { controller: :comments, action: :create }) do |f| %>
  <% if @comment.errors.any? %>
    <div class="alert alert-danger">
      <p><b><%= @comment.errors.count %>件のエラーがあります</b></p>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-xs-3">
      <div class="form-group">
        <%= f.label :body , 'コメント' %><br>
        <%= f.text_area :body, class: "form-control", placeholder: "140文字以内でコメントしてください" %>
      </div>
      <%= f.hidden_field :land_id, value: @land.id %>
      <%= f.submit "コメントする", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<% else %>
  <p>コメント機能を利用するにはログインしてください</p>
<% end %>