<div class="row">
  <div class="col-xs-6 col-md-3">
   <div class="thumbnail">
      <%= image_tag @land.image_url %>
      <div class="caption">
        <h3><%= @land.address %></h3>
        <p><%= @land.description %></p>
        <p><%= @land.price %>万円</p>
        <p><%= @land.area %>㎡</p>
        <p><%= link_to "編集する", edit_land_path(@land), class: "btn btn-primary", role: "button" %> <%= link_to "削除する", land_path(@land), method: :delete, class: "btn btn-danger", role: "button", data: { confirm: "本当に削除しますか？"} %></p>
      </div>
    </div>
  </div>
</div>
